{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

	<title>{% block title %}Collab2{% endblock %}</title>
	<link type="text/css" rel="stylesheet" href="{% static 'vendor/css/materialize.min.css' %}" media="screen,projection"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{% block contentCSS %}
	{% endblock %}
	{% block headerJS %}
	{% endblock %}
</head>

<body>
	<main>
		<header>
			{% block header %}
			{% endblock %}
		</header>

		{% block content %}
		{% endblock %}
	</main>

	<script type="text/javascript" src="{% static 'vendor/js/jquery-3.4.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/js/materialize.min.js' %}"></script>
	{% block contentJS %}
	{% endblock %}
</body>

</html>
