{% extends 'base.html' %}
{% load static %}

{% block title %}
Contributor | Collab2
{% endblock %}

{% block contentCSS %}
<link type="text/css" rel="stylesheet" href="{% static 'vendor/codemirror/lib/codemirror.css' %}" media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="{% static 'vendor/codemirror/theme/material.css' %}" media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="{% static 'vendor/codemirror/addon/scroll/simplescrollbars.css' %}" media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/space.css' %}" media="screen,projection"/>
{% endblock %}

{% block headerJS %}
<script src="{% static 'vendor/codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'vendor/codemirror/mode/python/python.js' %}"></script>
<script src="{% static 'vendor/codemirror/addon/scroll/simplescrollbars.js' %}"></script>
{% endblock %}

{% block navContent %}
<li><a href="/">Home</a></li>

{% if request.user.is_authenticated %}
	<li><a href="/logout/">Log Out</a></li>
{% else %}
  <li><a href="/login/">Log In</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="modal" class="modal">
	<div class="modal-content">
		<h4 id="modal-title">Runtime Output</h4>
		<textarea id="python-output" readonly></textarea>
	</div>
	<div class="modal-footer">
		<a href="#!" class="model-open modal-close waves-effect waves-black btn-flat">Done</a>
	</div>
</div>

<div class="buffer" id="buffer">
	<div class="bufferHeader"><p class="bufferHeaderText">{{ space_url }}</p></div>
	<form>
		<textarea id="codepython" name="codepython">{{ space_code }}</textarea>
	</form>
</div>

<div class="controlButtons">
	<button id="run-btn" class="btn waves-effect waves-light" type="submit" name="action">Run
	  <i class="material-icons right">send</i>
	</button>
	<button id="pull-btn" class="btn waves-effect waves-light" type="submit" name="action">Pull
	  <i class="material-icons right">cloud</i>
	</button>
	<button id="submit-btn" class="btn waves-effect waves-light" type="submit" name="action">Submit
	  <i class="material-icons right">code</i>
	</button>
</div>
{% endblock %}

{% block contentJS %}

<script>
const editor = CodeMirror.fromTextArea(document.getElementById("codepython"), {
	mode: "python",
	theme: "material",
	scrollbarStyle: "overlay",
	lineNumbers: true,
	lineWrapping: false,
})
const space_url = '{{ space_url }}';
</script>

<script type="text/javascript" src="/static/js/modal.js"></script>
<script type="text/javascript" src="/static/colpy/javascript/space_participant.js"></script>
{% endblock %}
