{% extends 'base.html' %}
{% load static %}

{% block title %}
Log In | Collab2
{% endblock %}

{% block contentCSS %}
<link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}" media="screen,projection"/>
{% endblock %}

{% block header %}
<nav class="topbar">
	<div class="nav-wrapper">
		<div class="container">
			<a href="#" class="brand-logo">Collab2</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/home/">About</a></li>
				<li><a href="/login/">Log In</a></li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}

{% block content %}
<div class="login">
	<div class="row">
		<div class="col s10 offset-s1">
			<div class="card z-depth-1">
				<div class="card-content">
					<h1>Login</h1>
					<form action="/login/" method="post">
						<input type="text" name="email" placeholder="Email" value="{{ email_field }}" required>
						<input type="password" name="password" placeholder="Password" value="{{ password_field }}" required>
						{% if error_text %}
						<div id="error-text">{{ error_text }}</div>
						{% endif %}
						<button class="btn btn-width btn-caro-primary section-btn">Log In</button>
						{% csrf_token %}
					</form>
					<div>Or</div>
						<a class="other-option" href="/signup">Sign up</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
