body
{
	background-image: url("../img/jeremy-perkins-333405-unsplash-darker.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-color: #000;
}

.btn-large
{
	display: inline-block;
	margin-top: 10px;
}
